import React from "react";

export interface {{pascalCase name}}Props {

}

const {{pascalCase name}}:React.FC<{{pascalCase name}}Props> = () => {

  return (
    <h1>{{pascalCase name}}</h1>
  )
}

export default {{pascalCase name}}
